#cover-page
  .cover-bg
  .info-wrapper
    .date 2017.12.20
    .city.pf-Medium 北京/Beijing
  .content-wrapper
    .content-bg
      .bg-mountain
      .bg-mountain
    .title-wrapper
      .module-title.
        全面洞察商业消费生态
      .module-title.
        聚力推动数据价值共享
    .text-wrapper.pf-Regular
      .text-detail.
        随着数据分析的广泛运用， 越来越多的互联网企业开始关注和重视数据的商业价值。但是仅凭自身的单一数据维度是无法纵观行业全局的， 只有携手共同探索， 才能在瞬息万变的互联网大潮中越走越远。
      .text-detail.
        2017年，CBNData以数据为纽带，连接多个互联网领域顶尖公司，从数据角度洞察全网行业变化，前瞻行业趋势；同时聚焦互联网消费升级，发掘升级背后的商业力量，诚邀众多行业先锋，共同奏响#[span.pf-Semibold 未来狂享曲]。
