doctype html
html(lang="en")
  head
    title= 'title'
    link(href='assets/styles.css' rel='stylesheet')
  body
    include navbar
    h1 Pug - node template engine
    #container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      div.wrapper.
        wrapper content
  script(src='assets/app.js' type='text/javascript')
