doctype html
html(lang="zh-Hans")
  include head
  body
    include navbar
    h1 Pug - node template engine
    #container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      .wrapper.
        wrapper content
  script(src='assets/app.js' type='text/javascript')
