doctype html
html(lang="zh-Hans")
  include head
  body.pf-Regular
    include navbar
    include cover-page
    include highlights
    include carousel
    include agenda
    include tickets
    include organizations
    include contact

  script(src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js' type='text/javascript')
  script(src='assets/app.js' type='text/javascript')
