@import '_variables';
@import '_utils';

@mixin Underline($color: white, $width: 1px) {
  display: inline-block;
  border-bottom: $width solid $color;
}

@mixin slash($width: 2px, $height: 10px, $color: $slash-blue, $transform: none) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-color: $color;
  transform: $transform;
}

@mixin chevron($length, $skew, $direction,$width: 1.5px, $color: $slash-blue) {
  position: absolute;
  @if $direction == left {
    left: $length/2 - 1.4px;
  } @else if $direction == right {
    right: $length/2 - 1.4px;
  }
  bottom: -$length;
  @include slash($width: $width, $height: $length, $color: $color, $transform: skew($skew));
}

@mixin module-title($color: $color-cyan, $size: 51px, $size-mobile: 28px) {
  @extend .pf-Medium;
  font-size: $size;
  letter-spacing: -1.43px;
  @include Underline($color);
  @media #{$mobile} {
    font-size: $size-mobile;
  }
}

@mixin slash-bar($margin: 8px, $color: $slash-blue) {
  @include Flex(row, center, flex-start);
  .slash-unit {
    @include slash($transform: skew(-60deg), $color: $color);
    margin: 0 $margin;
  }
}

@mixin bg-black() {
  background: $bg-black;
}

@mixin bg-geom($name, $width, $height: $width, $format: '.png', $size: contain) {
  width: $width;
  height: $height;
  @include bg-img($url: #{$assets-url}bg/#{$name}#{$format}, $size: $size);
}

@mixin fz-pc-mob($pc: 16px, $mob: 12px) {
  @media #{$PC} {
    font-size: $pc;
  }
  @media #{$mobile} {
    font-size: $mob;
  }
}
