
$color-cyan: #41F0E1;
$slash-blue: #003CB4;
$border-grey: rgba(255, 255, 255, 0.40);
$bg-black: #000000;

$assets-url: 'http://z.dtcj.com/cbndata/';
$font-url: $assets-url + 'fonts/';
$image-url: $assets-url + 'images/';
