@import '_variables';
@import '_mixins';
@import '_utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;

  @media #{$mobile} {
    .pc-only {
      display: none !important;
    }
  }

  @media #{$PC} {
    .mobile-only {
      display: none !important;
    }
  }

  .title-wrapper {
    text-align: center;
    .module-title {
      @extend .pf-Medium;
      font-size: 51px;
      text-align: center;
      letter-spacing: -1.43px;
      @include module-title(white, 51px);
    }
  }

}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none !important;
}

.text-cyan {
  color: #41F0E1;
}

// PingFang font family groups
$fonts: Thin Light Regular Medium Semibold Heavy;
$PingFang: (100 "Thin") (300 "Light") (400 "Regular") (500 "Medium") (700 "Semibold") (800 "Heavy");

@each $weight, $name in $PingFang {
  .pf-#{$name} {
    font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, Microsoft YaHei, PingFangSC-#{$name};
    font-weight: $weight !important;
  }
}

$DIN-list: (Black,  Bold, Euro, Light, Medium, Regular);
@each $style in $DIN-list {
  @font-face {
    $font-name: DIN-#{$style};
    font-family: $font-name;
    src: url($font-url + $font-name + '.otf')
  }
}
