@import 'utils';
@import 'mixins';
@import 'variables';

#contact {
  @include Flex(column, flex-start, center);

  .slashes-wrapper {
    margin-bottom: 50px;
    @include slash-bar();
  }

  .module-title {
    margin-bottom: 68px;
    @include module-title($color-cyan);
  }

  .detail-wrapper {
    .contact-unit {
      @include Flex(column, flex-start, center);
      margin-bottom: 40px;

      .contact-title {
        font-size: 24px;
        margin-bottom: 2px;
      }

      .contact-detail {
        text-align: center;

        &:before, &:after {
          margin: 0 14px;
          @include slash($transform: skew(-60deg));
        }

      }
    }

  }

}
