@import 'utils';
@import 'mixins';
@import 'variables';

#cover-page {
  margin-bottom: 120px;

  .cover-bg {
    @include bg-img($url: $assets-url + 'bg/bg-home.png');
    $HW_Ratio: 1612/2880;
    width: 100vw;
    height: 100vw * $HW_Ratio;

    .bg-diamond {
      @include bg-geom(diamond, 223px);
      @include abs-locate(337, 46);
    }

    .bg-triangle {
      @include bg-geom(triangle, 225px);
      @include abs-locate(152, 501);
    }

    .bg-circle {
      @include bg-geom(circle-cyan, 197px);
      @include abs-locate(1085, 580);
    }

  }

  .info-wrapper {
    position: absolute;
    top: 120px;
    left: 5.8vw;
    @include Flex(column, flex-start, flex-start);
    font-family: DIN-Medium;
    font-size: 48px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    .date {
      @include Underline();
      margin-bottom: 75px;
      letter-spacing: -2px;
    }
    .city {
      letter-spacing: -1.34px;
      @include Underline();
    }
  }

  .content-wrapper {
    margin-top: 32px;
    @include Flex(column, flex-start, center);

    .title-wrapper {
      @include Flex(column, flex-start, center);
      margin-bottom: 32px;
      .module-title {
        @include module-title(white, 48px)
      }
    }

    .text-wrapper {
      font-size: 16px;
      max-width: 566px;
      text-align: center;
      .text-detail {
        color: rgba(255, 255, 255, 0.90);
        letter-spacing: -0.45px;
        margin-bottom: 10px;
      }
    }

  }
}
