@import 'utils';
@import 'mixins';
@import 'variables';

#navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  @include Flex(row, space-between, center);
  background: rgba(0, 0, 0, 0.80);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.40);
  padding: 22px;

  @media #{$phones} {
    padding: 8px;
  }

  .logos-wrapper {
    @include Flex(row, flex-start, center);
    .logo-unit {
      margin-right: 11px;
      &:first-of-type {
        img {
          height: 29px;
        }
      }
      &:last-of-type {
        img {
          height: 27px;
        }
      }
    }
  }

  .menus-wrapper {
    position: relative;
    z-index: 10;

    @media #{$PC} {
      width: 45%;
      min-width: 480px;
      .items-wrapper {
        @include Flex(row, space-between, center);
      }
    }

    &.expanded {
      .menu-btn {
        .btn-bar {
          &:first-of-type {
            transform: translate(0, 8px) rotate(45deg);
          }
          &:nth-of-type(2) {
            display: none;
          }
          &:last-of-type {
            transform: translate(0, -7px) rotate(-45deg);
          }
        }
      }
    }

    @media #{$mobile} {
      &:not(.expanded) {
        .items-wrapper {
          display: none;
        }
      }
      .items-wrapper {
        position: absolute;
        @include Flex(column, flex-start, center);

        width: 127px;
        right: -12px;
        top: 36px;

        background: rgba(0,0,0,0.80);

        .nav-item {
          padding: 8px;
        }
      }
    }
  }

  .items-wrapper {
    font-size: 14px;
    @include Flex(row, space-between, center);
    .nav-item {
      opacity: 0.7;
      letter-spacing: -0.39px;
      &:hover {
        color: $color-cyan;
        transition-duration: 0.2s;
      }

    }
  }

  .menu-btn {
    @include Flex(column, space-between, center);
    $padding: 4px;
    padding: $padding;

    $menuW: $padding * 2 + 18px;
    $menuH: $padding * 2 + 16px;

    width: $menuW;
    height: $menuH;
    .btn-bar {
      width: 100%;
      height: 1px;
      background: #fff;
      transition-duration: 200ms;
    }

  }

}
