@import 'utils';
@import 'mixins';
@import 'variables';

#navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  @include Flex(row, space-between, center);
  background: rgba(0, 0, 0, 0.80);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.40);
  padding: 22px;

  .logos-wrapper {
    @include Flex(row, flex-start, center);
    .logo-unit {
      margin-right: 11px;
      &:first-of-type {
        img {
          height: 29px;
        }
      }
      &:last-of-type {
        img {
          height: 27px;
        }
      }
    }
  }

  .items-wrapper {
    font-size: 14px;
    min-width: 50%;
    @include Flex(row, space-between, center);
    .nav-item {
      opacity: 0.7;
      letter-spacing: -0.39px;
      &:hover {
        color: $color-cyan;
        transition-duration: 0.2s;
      }

    }
  }

}
