@import 'utils';
@import 'mixins';
@import 'variables';

$wrapper-width: 1086px;

#organizations {
  @include Flex(column, flex-start, center);
  max-width: $wrapper-width;
  margin: 0 auto 120px auto;

  @media #{$mobile} {
    margin-bottom: 0;
  }

  .section-unit {
    @include Flex(column, flex-start, center);
    .section-title {
      text-align: center;
      margin-bottom: 40px;
      @media #{$PC} {
        font-size: 36px;
      }
      @media #{$mobile} {
        font-size: 28px;
      }
      @include Underline(white);
    }

    .logos-wrapper {
      @include Flex(row wrap, center, flex-start);
      margin-bottom: 100px;

      @media #{$mobile} {
        margin-bottom: 44px;
      }

      .logo-unit {
        width: $wrapper-width/6;
        @media #{$iphone5} {
          width: 158px;
        }
        height: 72px;
        text-align: center;
        @include Flex(row, center, center);

        .logo {
          @include bg-img($size: contain);
          width: 177px;
          max-width: 100%;
          height: 60px;
        }

      }

    }

  }

}
