@import 'utils';
@import 'mixins';
@import 'variables';

$wrapper-width: 1086px;

#organizations {
  @include Flex(column, flex-start, center);
  max-width: $wrapper-width;
  margin: 0 auto 120px auto;

  .section-unit {
    @include Flex(column, flex-start, center);
    .section-title {
      text-align: center;
      margin-bottom: 40px;
      font-size: 36px;
      @include Underline(white);
    }

    .logos-wrapper {
      @include Flex(row wrap, center, flex-start);
      margin-bottom: 100px;

      .logo-unit {
        width: $wrapper-width/6;
        height: 72px;
        text-align: center;
        @include Flex(row, center, center);

        .logo {
          @include bg-img($size: contain);
          width: 177px;
          height: 60px;
        }

      }

    }

  }

}
