@import 'utils';
@import 'mixins';
@import 'variables';

#tickets {
  margin-bottom: 120px;
  overflow: hidden;

  .tickets-wrapper {
    @include Flex(row, center, center);
    margin: 43px 0 56px 0;
    $numTickets: 2;
    @for $index from 1 through $numTickets {
      &.selected-#{$index} {
        .ticket-unit {
          transform: translateX((($numTickets + 1)/2 - $index) * 100%);
          &:not(.selected) {
            filter: grayscale(70%) brightness(0.5);
            transform: translate((($numTickets + 1)/2 - $index) * 100%, 20px) scale(0.9);
          }
        }
        & ~ .control-panel {
          .bar-dots {
            .dot-unit {
              @include hollow-diamond();
              &:nth-of-type(#{$index}) {
                @include diamond();
              }
            }
          }
        }
      }
    }

    .ticket-unit {
      position: relative;
      transition-duration: 1000ms;
      .image {
        @include bg-img();
        background-size: contain;
        width: 744px;
        height: 338px;
      }
      .text {
        @include abs-locate-px(432, 225);
        font-size: 36px;
        &:before, &:after {
          @include hollow-diamond();
        }
        &:hover {
          color: $color-cyan;
          &:before, &:after {
            @include diamond();
          }
        }
      }
    }
  }

  .control-panel {
    .bar-dots {
      @include Flex(row, center, flex-start);
      .dot-unit {
        $gap: 24px;
        margin: 0 $gap/2;
      }
    }

    .bar-info {
      @include Flex(row, center, center);
      margin-top: 20px;

      .info-wrapper {
        @include Flex(row, center, center);
        margin: 0 80px 0 108px;
        width: 540px;
        height: 83px;
        border: 1px solid $border-grey;

        .info-text {
          width: 420px;
          padding: 4px 0;
          transform: translate(-96px, 0);
          @include bg-black();
          font-size: 12px;
          .text {
            opacity: 0.7;
          }
        }
      }

      .arrow {
        $arrow-size: 26px;
        width: $arrow-size;
        height: $arrow-size * 1.5;
        @include Flex(row, center, center);

        .arrow-unit {
          &:after {
            transition-duration: 0.2s;
          }
        }

        .left {
          @include hollow-triangle();
        }
        .right {
          @include hollow-triangle($direction: right);
        }

        &:hover {
          cursor: pointer;
          .arrow-unit {
            &:after {
              opacity: 0;

            }
          }
        }
      }
    }
  }
}
